body{
    background-color: aqua;
}
div{
    display: flex;
    justify-content: center;
    padding: 5px;
}
div input{
    display: flex;
    padding: 10px;
    margin: 5px;
}
a{
    text-decoration: none;
}
#inputbox{
   background-color: azure;
}
#registerBtn{
    padding: 10px;
    color: blue;
    background-color:greenyellow;
}
.hide{
    display: none;
}